.plus_btn {
  margin-top: 32px;
  margin-left: 70px;
  height: 30px;
  width: 30px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1.5px solid #0065dd;
  background-color: transparent;
  .plus_btn1 {
    position: absolute;
    width: 10px;
    background-color: #0065dd;
    height: 1px;
    display: block;
    &:nth-child(2) {
      transform: rotate(90deg);
    }
  }
}

@media only screen and (max-width: 370px) {
  .plus_btn {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 900px) {
  .plus_btn {
    margin-left: 0 !important;
  }
}
