.slider_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}

.slider_top .slide_txt {
  font-weight: 500;
  font-size: var(--font-size30);
  line-height: 35px;
}

.slider_top .slide_top_inner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
}

.slider_top .slide_top_inner_wrap a {
  text-decoration: none;
  font-size: var(--font-size13);
  line-height: 15px;
  text-transform: uppercase;
  color: #0065dd;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

.slider_top .slide_top_inner_wrap .btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.slider_top .slide_top_inner_wrap .btn_wrapper button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.card_wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_wrapper .card_item {
  width: 98% !important;
  background: rgba(255, 255, 255, 0.067);
  padding: 20px 16px 19px 21px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card_wrapper .card_item:hover {
  -webkit-box-shadow: 0px 10px 50px rgba(144, 158, 187, 0.2);
          box-shadow: 0px 10px 50px rgba(144, 158, 187, 0.2);
}

.card_wrapper .card_item .flex_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #A0A8B8;
}

.card_wrapper .card_item .flex_txt img {
  margin-right: 10px;
  height: 14px;
  width: 20px;
}

.card_wrapper .card_item .card_item_lightTxt {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: var(--font-size14);
  line-height: 18px;
}

.card_wrapper .card_item .card_item_boldTxt {
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size16);
  line-height: 21px;
  color: #1a1a1a;
}

@media only screen and (max-width: 1400px) {
  .slide_top_inner_wrap {
    width: 30% !important;
  }
  .slider_top {
    padding-bottom: 25px;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 900px) {
  .slide_top_inner_wrap {
    width: 100px !important;
  }
  .slide_top_inner_wrap a {
    display: none;
  }
  .slider_top {
    padding-bottom: 25px;
    margin: 0 20px;
  }
  .btn_wrapper {
    width: 200px !important;
  }
  .slide_txt {
    font-size: var(--font-size24) !important;
  }
}

@media only screen and (max-width: 320px) {
  .slide_top_inner_wrap {
    width: 100px !important;
  }
  .slide_top_inner_wrap a {
    display: none;
  }
  .slider_top {
    padding-bottom: 25px;
    margin: 0 20px;
  }
  .btn_wrapper {
    width: 200px !important;
  }
  .slide_txt {
    font-size: var(--font-size24) !important;
  }
}
/*# sourceMappingURL=BannerCard.module.css.map */