@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&family=Open+Sans:wght@500;700&family=Poppins:wght@500&family=Roboto&display=swap");
.container {
  padding-top: 1px;
  background-color: #fff;
}

.container_all {
  background: #f1f2f5;
  padding-top: 1px;
}

.section1 {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section1 .link_btn_wrap {
  margin-top: 20px;
  position: relative;
}

.section1 .link_btn_wrap .link_btn_img {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: -70px;
  bottom: -50px;
}

.section1 .slider_below {
  margin: 100px 0 100px 0;
}

.bg_div {
  background-color: #f1f2f5;
  padding: 102px 15px;
}

.bg_div .section2 {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg_div .section2 .txt_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 53px;
}

.bg_div .section2 .txt_wrap .large_txt {
  font-weight: 500px;
  font-size: var(--font-size30);
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d213f;
  margin-right: 63px;
}

.bg_div .section2 .txt_wrap .underline_txt {
  margin-right: 40px;
  font-size: var(--font-size13);
  line-height: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1d213f;
  border-bottom: 2px solid #0065dd;
  cursor: pointer;
}

.bg_div .section2 .txt_wrap .disabled_txt {
  font-size: var(--font-size13);
  line-height: 15px;
  text-transform: uppercase;
  color: #909ebb;
  margin-right: 40px;
  cursor: pointer;
}

.bg_div .section2 .txt_wrap .activeTxt {
  font-size: var(--font-size13);
  line-height: 15px;
  text-transform: uppercase;
  color: #1d213f;
  margin-right: 40px;
  cursor: pointer;
}

.bg_div .section2 .card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section3 {
  background-color: #fff;
  position: relative;
  padding-top: 102px;
}

.section3 .round_div {
  overflow: hidden;
}

.section3 .slider_bottom {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section3 .carusel_bottom {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section3 .slider_top .slide_txt1 {
  font-size: var(--font-size30);
  line-height: 35px;
  color: #bcc5d6;
  text-decoration: none;
  border-bottom: 0;
}

.section3 .slider_top .txt_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.section3 .slider_top .disabledLink {
  font-weight: 500;
  font-size: var(--font-size30);
  line-height: 35px;
  color: #bcc5d6;
  cursor: pointer;
}

.section3 .slider_top .activeLink {
  font-size: var(--font-size30);
  line-height: 35px;
  color: #1d213f;
  cursor: pointer;
}

.section3 .slider_top .slide_top_inner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
}

.section3 .slider_top .slide_top_inner_wrap a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size13);
  line-height: 15px;
  text-transform: uppercase;
  color: #0065dd;
}

.section3 .slider_top .btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.section3 .slider_top .btn_wrapper button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.section3 .news_wrapper {
  border-bottom: 1px solid #dde1ea;
}

.section3 .news_wrapper .news_item_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  width: 100%;
}

.section3 .news_wrapper .news_item_wrapper .news_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px !important;
  margin-right: 20px;
}

.section3 .news_wrapper .news_item_wrapper .news_item .news_img {
  width: 100%;
  margin-bottom: 26px;
}

.section3 .news_wrapper .news_item_wrapper .news_item .margin_bottom {
  margin-bottom: 10px;
  font-size: var(--font-size14);
  line-height: 18px;
  color: #1d213f;
}

.section3 .slider_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  margin-top: 100px;
  border-top: 1px solid #dde1ea;
}

.section3 .slider_bottom .txt_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .slider_bottom .txt_flex .media_flex_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .slider_bottom .txt_flex .media_flex_div p {
  font-size: var(--font-size18);
}

.section3 .slider_bottom .slide_txt5 {
  font-weight: 500;
  font-size: var(--font-size30);
  line-height: 35px;
  color: #bcc5d6;
  text-decoration: none;
  border-bottom: 0;
  cursor: pointer;
}

.section3 .slider_bottom .slide_txt5:not(:last-child) {
  margin-right: 30px;
}

.section3 .slider_bottom .slide_top_inner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
}

.section3 .slider_bottom .slide_top_inner_wrap a {
  text-decoration: none;
  font-size: var(--font-size13);
  line-height: 15px;
  text-transform: uppercase;
  color: #0065dd;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

.section3 .slider_bottom .btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.section3 .slider_bottom .btn_wrapper button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.section5 {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 102px;
}

.section5 .link_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
  .section2 {
    margin: 0 auto !important;
  }
  .section2 .txt_wrap .section2_flex_txt {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  .section2 {
    margin: 0 auto !important;
  }
  .section2 .txt_wrap .section2_flex_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 .card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .section2 .card_container::-webkit-scrollbar {
    display: none;
  }
  .slide_top_inner_wrap {
    display: none !important;
  }
}

@media only screen and (max-width: 770px) {
  .slide_top_inner_wrap {
    display: none !important;
  }
  .section3 .slider_bottom .txt_flex {
    width: 100%;
    overflow: scroll;
  }
  .section3 .slider_bottom .txt_flex::-webkit-scrollbar {
    width: 0;
  }
  .media_flex_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .media_flex_div p {
    font-size: var(--font-size18) !important;
  }
}

@media only screen and (max-width: 440px) {
  .section2 {
    margin: 0 auto !important;
  }
  .section2 .txt_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section2 .txt_wrap .section2_flex_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 .txt_wrap .large_txt {
    width: 100%;
    font-size: var(--font-size24) !important;
  }
  .card_container {
    overflow: scroll;
  }
  .card_container::-webkit-scrollbar {
    display: none;
  }
  .txt_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .txt_flex:nth-child(1) {
    width: 100%;
    font-size: var(--font-size24) !important;
  }
  .slide_txt5 {
    font-size: var(--font-size18) !important;
  }
  .flex_txt_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #dde1ea;
    margin-top: 20px;
  }
  .slide_top_inner_wrap {
    display: none !important;
  }
  .media_flex_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
  .media_flex_div p {
    font-size: var(--font-size18) !important;
  }
}

@media only screen and (max-width: 370px) {
  .section2 {
    margin: 0 auto !important;
  }
  .section2 .txt_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section2 .txt_wrap .section2_flex_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 .txt_wrap .large_txt {
    width: 100%;
    font-size: var(--font-size24) !important;
  }
  .card_container {
    overflow: scroll;
  }
  .card_container::-webkit-scrollbar {
    display: none;
  }
  .txt_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: scroll;
  }
  .slide_txt5 {
    font-size: var(--font-size18);
  }
  .flex_txt_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #dde1ea;
    margin-top: 20px;
  }
  .slide_top_inner_wrap {
    display: none !important;
  }
  .media_flex_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
  .media_flex_div p {
    font-size: var(--font-size13) !important;
  }
  .underline_txt {
    margin-right: 12px !important;
  }
}
/*# sourceMappingURL=home.module.css.map */