.InternationalList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .InternationalList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.InternationalList .InternationalList_item {
  width: 48%;
  background: #ffffff;
  border: 2px solid #f1f2f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .InternationalList .InternationalList_item {
    width: 100%;
  }
  .InternationalList .InternationalList_item:first-child {
    margin-bottom: 54px;
  }
}

.InternationalList .InternationalList_item .InternationalList_item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 30px;
}

@media only screen and (max-width: 768px) {
  .InternationalList .InternationalList_item .InternationalList_item_title {
    padding: 23px 20px;
  }
}

.InternationalList .InternationalList_item .InternationalList_item_title h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size18);
  line-height: 24px;
  color: #1d213f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .InternationalList .InternationalList_item .InternationalList_item_title h1 {
    font-size: var(--font-size16);
    margin-bottom: 8px;
  }
}

.InternationalList .InternationalList_item .InternationalList_item_title h1 span {
  font-size: var(--font-size14);
  color: #8b91a9;
}

.InternationalList .InternationalList_item .InternationalList_item_title .bts {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/icons/ICON (2).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: white;
  border: 1px solid #0065dd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.InternationalList .InternationalList_item .InternationalList_item_title .opens {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/icons/ICON (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #0065dd;
  border: 1px solid #0065dd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.InternationalList .InternationalList_item .InternationalList_item_main {
  display: block;
}

.InternationalList .InternationalList_item .InternationalList_item_main .module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.InternationalList .InternationalList_item .InternationalList_item_main .module::after {
  content: "";
  position: absolute;
  width: 88%;
  border: 1px solid #dde1ea;
  left: auto;
  right: auto;
  top: 0;
}

.InternationalList .InternationalList_item .InternationalList_item_main .module span {
  margin-left: 20px;
}

.InternationalList .InternationalList_item .InternationalList_item_main .module h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size16);
  line-height: 21px;
  color: #222222;
}

.InternationalList .InternationalList_item .InternationalList_item_main .module h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size16);
  line-height: 21px;
  color: #1d213f;
}

.InternationalList .InternationalList_item .InternationalList_item_main .module h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size14);
  line-height: 21px;
  color: #8b91a9;
}

.InternationalList .InternationalList_item .InternationalList_item_main .module:hover {
  background-image: url("../../assets/icons/Vector (32).png");
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 50px rgba(144, 158, 187, 0.2);
          box-shadow: 0px 10px 50px rgba(144, 158, 187, 0.2);
}

.InternationalList .InternationalList_item .InternationalList_item_main .module:hover::after {
  width: 100%;
  left: 0;
}

.InternationalList .InternationalList_item .InternationalList_item_main .module:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid #dde1ea;
  left: 0;
  bottom: -3px;
}

.close {
  display: none;
}
/*# sourceMappingURL=InternationalList.module.css.map */