.relative {
  position: relative;
  background-color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
}

.bg {
  background: #f1f2f5;
  padding: 15px 0;
}

.general_lang_modalWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner_txt {
  margin-right: 20px;
  font-size: var(--font-size14);
  line-height: 18px;
}

.switcher {
  display: none;
  position: absolute;
}

.switcher_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.switcher_inner .exit_btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.switcher_inner .right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-size14);
  line-height: 18px;
  color: #1d213f;
}

.switcher_inner .right_side button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.switcher_inner .left_side {
  margin-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switcher_inner .left_side .font_size_btn1 {
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  border: none;
  background-color: #f1f2f5;
  color: #0065dd !important;
}

.switcher_inner .left_side .font_size_btn1_back {
  background-color: #0065dd !important;
  color: black !important;
}

.switcher_inner .left_side .font_size_btn1:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  background-color: #fff;
  color: #0065dd;
  font-size: var(--font-size18);
}

.switcher_inner .left_side .font_size_btn1:nth-child(3) {
  width: 35px;
  height: 35px;
  background-color: #fff;
  color: #0065dd;
  font-size: var(--font-size18);
}

.switcher_inner .left_side .font_size_btn1:nth-child(4) {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #0065dd;
  font-size: var(--font-size24);
}

.general_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.general_wrapper .top_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.general_wrapper .inner_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.general_wrapper .img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.general_wrapper .img_wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #1d213f;
}

.general_wrapper .img_wrapper a .margin_text {
  margin-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size12) !important;
  line-height: 14px;
}

.general_wrapper .iconsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.general_wrapper .iconsWrapper button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.general_wrapper .iconsWrapper a:hover svg {
  fill: #0065dd;
}

.general_wrapper .inner_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

.general_wrapper .inner_right .iconsWrapperSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general_wrapper .inner_right .iconsWrapperSecond button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.general_wrapper .inner_right .eyeIconBorder {
  padding: 0 8px;
  border-right: 1px solid grey;
}

.general_wrapper .inner_right .general_lang_modalWrap {
  position: relative;
}

.general_wrapper .inner_right .general_lang_modalWrap .lang_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: transparent;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 120px;
  padding: 5px 10px 5px 10px;
  height: 20px;
  position: relative;
}

.general_wrapper .inner_right .general_lang_modalWrap .lang_btn::before {
  content: "";
  width: 27px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5055;
  margin: auto;
  left: 0px;
  background-image: url(../../assets/images/Flag.png);
}

.general_wrapper .inner_right .general_lang_modalWrap .lang_btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 120px;
  padding: 5px 10px;
  height: 20px;
  margin-bottom: 5px;
  position: relative;
}

.general_wrapper .inner_right .general_lang_modalWrap .lang_btn2::before {
  content: "";
  width: 27px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5055;
  margin: auto;
  left: 0;
  background-image: url(../../assets/images/Flag.png);
}

.general_wrapper .inner_right .general_lang_modalWrap .lang_btn2:last-child::before {
  background-image: url(../../assets/icons/uzbekistanflag.png);
}

.general_wrapper .inner_right .general_lang_modalWrap .lang_modal {
  width: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  padding: 5px 0;
  display: none;
}

.general_wrapper .inner_right .general_lang_modalWrap .showed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general_wrapper .inner_right .general_lang_modalWrap .lang_txt {
  width: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0;
  background-color: #fff;
  font-size: var(--font-size14);
}

.general_wrapper .navbar_wrapper {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fff;
}

.general_wrapper .navbar_wrapper .submenu_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0 0;
  width: 1200px;
}

.general_wrapper .navbar_wrapper .nav_items {
  position: relative;
  display: inline-block;
  padding: 20px 0;
}

.general_wrapper .navbar_wrapper .nav_items:nth-last-child(1) > div {
  right: 0;
}

.general_wrapper .navbar_wrapper .nav_items:nth-last-child(2) > div {
  right: 0;
}

.general_wrapper .navbar_wrapper .nav_items:hover a {
  color: #0065dd;
}

.general_wrapper .navbar_wrapper .nav_items:hover > div a {
  color: #8b91a9;
}

.general_wrapper .navbar_wrapper .nav_items:hover .nav_link_img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.general_wrapper .navbar_wrapper .nav_children {
  display: none;
  position: absolute;
  top: 35px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 50px rgba(144, 158, 187, 0.2);
          box-shadow: 0px 10px 50px rgba(144, 158, 187, 0.2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  padding: 27px 0px;
  z-index: 11;
}

.general_wrapper .navbar_wrapper .nav_children a {
  display: block;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px 10px;
  font-size: var(--font-size16);
  font-weight: normal;
  line-height: 16px;
  color: #8b91a9;
  text-transform: capitalize;
}

.general_wrapper .navbar_wrapper .nav_children a:hover {
  display: inline-block;
  background: #f8f8fa;
}

.general_wrapper .navbar_wrapper .nav_children_hover {
  position: absolute;
  top: 35px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 50px rgba(144, 158, 187, 0.2);
          box-shadow: 0px 10px 50px rgba(144, 158, 187, 0.2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  padding: 27px 0px;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 20px;
  width: 460px;
}

.general_wrapper .navbar_wrapper .nav_children_hover a {
  display: block;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px 10px;
  font-size: var(--font-size16);
  font-weight: normal;
  line-height: 16px;
  color: #8b91a9;
  text-transform: capitalize;
}

.general_wrapper .navbar_wrapper .nav_children_hover a:hover {
  display: inline-block;
  background: #f8f8fa;
}

.general_wrapper .navbar_wrapper label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  cursor: pointer;
  padding: 20px 0;
}

.general_wrapper .navbar_wrapper label span {
  background: black;
  border-radius: 10px;
  height: 2px;
  margin: 3px 0;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.general_wrapper .navbar_wrapper span:nth-of-type(1) {
  width: 100%;
}

.general_wrapper .navbar_wrapper span:nth-of-type(2) {
  width: 100%;
}

.general_wrapper .navbar_wrapper span:nth-of-type(3) {
  width: 100%;
}

.general_wrapper .navbar_wrapper input[type="checkbox"] {
  display: none;
}

.general_wrapper .navbar_wrapper input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotatez(45deg) translate(5px, 5px);
          transform: rotatez(45deg) translate(5px, 5px);
}

.general_wrapper .navbar_wrapper input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotatez(-45deg);
          transform: rotatez(-45deg);
}

.general_wrapper .navbar_wrapper input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 50%;
  -webkit-transform: translate(30px, -11px) rotatez(45deg);
          transform: translate(30px, -11px) rotatez(45deg);
}

.general_wrapper .navbar_wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size13);
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.general_wrapper .navbar_wrapper a img {
  margin-left: 5px;
}

.general_wrapper .navbar_menu {
  padding: 100px 0;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f1f2f5;
}

.general_wrapper .navbar_menu .txt_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.general_wrapper .navbar_menu .txt_part .txt_part_item {
  width: 15%;
}

.general_wrapper .navbar_menu .txt_part ul {
  margin-bottom: 40px;
}

.general_wrapper .navbar_menu .txt_part li {
  list-style: none;
  margin-bottom: 15px;
}

.general_wrapper .navbar_menu .txt_part li a {
  font-size: var(--font-size14);
  line-height: 16px;
  color: #8b91a9;
  text-decoration: none;
}

.general_wrapper .navbar_menu .txt_part .footer_title {
  font-size: var(--font-size18);
  line-height: 21px;
  color: #1d213f;
  margin-bottom: 33px;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.sticky .submenu_modal {
  margin: 0 auto !important;
}

.search_btn {
  margin-left: 2px;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/X mark (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.btn_search {
  margin-left: 2px;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/search.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.media {
  display: none !important;
}

.general_lang_modalWrap {
  position: relative;
}

.general_lang_modalWrap .lang_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: transparent;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 120px;
  padding: 5px 10px 5px 10px;
  height: 20px;
  position: relative;
}

.general_lang_modalWrap .lang_btn::before {
  content: "";
  width: 27px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5055;
  margin: auto;
  left: 0px;
  background-image: url(../../assets/images/Flag.png);
}

.general_lang_modalWrap .lang_btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 120px;
  padding: 5px 10px;
  height: 20px;
  margin-bottom: 5px;
  position: relative;
}

.general_lang_modalWrap .lang_btn2::before {
  content: "";
  width: 27px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5055;
  margin: auto;
  left: 0;
  background-image: url(../../assets/images/Flag.png);
}

.general_lang_modalWrap .lang_btn2:last-child::before {
  background-image: url(../../assets/icons/uzbekistanflag.png);
}

.general_lang_modalWrap .lang_modal {
  width: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  padding: 5px 0;
  display: none;
}

.general_lang_modalWrap .showed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general_lang_modalWrap .lang_txt {
  width: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0;
  background-color: #fff;
  font-size: var(--font-size14);
}
/*# sourceMappingURL=Language1.maodulr.css.map */